<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a href="#">Home</a>
      </li>
      <li></li>
      <li class="nav-item"></li>
      <li></li>
      <li class="nav-item">
        <a href="#">Contact us</a>
      </li>
      <li>
        <div style="margin-left: 2em">
          <nav>
            <div class="container" role="main">
              <br>
              <br>
              <h2>EJS Views Example</h2>
              <div class="row">
                <div class="sm-12">
                  <div class="alert alert-success" role="alert">
                    <h1>Name: <%=name%></h1>
                    <h1>Last Name: <%=lastname%></h1>
                    <h1>Adress: <%=address %></h1>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </li>
    </ul>
  </nav>
</body>
</html>