
<% include header %>
<% include navbar %>


<div role="main" class="container">
<br /> <br />
<h2>Welcome to Milestone 2</h2>
</div>

<style>
h2 {
    text-align: center;
}
</style>

<% include footer %>