<% include header %>
<% include navbar %>

<br /> <br />

<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active">Employees</button>
    <button type="button" class="list-group-item list-group-item-action">Chris</button>
    <button type="button" class="list-group-item list-group-item-action">Steven</button>
    <button type="button" class="list-group-item list-group-item-action">Sonia</button>
    <button type="button" class="list-group-item list-group-item-action">Rafael</button>
  </div>

  <% include footer %>